.home_design{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh auto;
}
.profile{
  width: 200px;        
  height: 200px;       
  border-radius: 50%;  
  object-fit: cover;   
}
.heading{
    width: 30vw;
    font-size: 3em;
    text-align: center;
}
.para{
    margin-top: 30px;
    width: 40vw;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30px;
}

.btn{
    display: flex;
    gap: 30px;
    /* flex-direction: row; */
}
.btn-get-in-touch , .btn-download-cv{
    width: 13vw;
    height: 7vh;
    font-size: 1.3em;
    font-weight: 600;
}
.btn-get-in-touch{
    background-color: #fff;
    color: black;
    border-radius: 20px;
}
.btn-download-cv{
    background-color: #000000;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
}